<div class="row">
  <div class="col">
    <h1>Create Change Order for '<%= @draw_cost.project_cost.name %>'</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag :new_change_order, @draw_cost do %>
      <%= render 'form', change_order: @change_order %>
    <% end %>
  </div>
</div>
