!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
*.sw?
.env
.irb_history
/.bundle
/config/credentials/development.key
/config/credentials/production.key
/config/credentials/staging.key
/config/master.key
/coverage/*
/log/*
/public/assets
/storage/*
/tmp/*
/tmp/pids/*
/tmp/storage/*
.DS_Store
._.DS_Store
chatgpt.log
latest.dump*
.vectordatadb
ruby-debug-lock*
