RAILS_MASTER_KEY=XXX
APPLICATION_HOST="localhost:3000"
APPLICATION_PROTOCOL="http"
APPLICATION_DOMAIN=drafter.example
LANG=en_US.UTF-8
PORT=3000
RACK_ENV=development
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=enabled
RAILS_MAX_THREADS=5
RAILS_SERVE_STATIC_FILES=enabled
SMTP_DOMAIN=localhost
WEB_CONCURRENCY=2
COMPOSE_PROJECT_NAME=drafter
