APPLICATION_DOMAIN=drafter.example
APPLICATION_HOST="localhost:3000"
APPLICATION_PROTOCOL="http"
APPLICATION_ENV=development
COMPOSE_PROJECT_NAME=drafter
LANG=en_US.UTF-8
PORT=3000
RACK_ENV=development
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=enabled
RAILS_MASTER_KEY=XXX
RAILS_MAX_THREADS=5
RAILS_SERVE_STATIC_FILES=enabled
SMTP_DOMAIN=localhost
USE_S3_IN_DEVELOPMENT=true
WEB_CONCURRENCY=2
CLICKUP_API_TOKEN=***optional: defaults to credentials file***
CLICKUP_WORKSPACE_ID=***optional: defaults to credentials file***
CLICKUP_DEFAULT_LIST_ID=***optional: defaults to credentials file***
RAILS_MASTER_KEY=XXX
