div.card_upload_button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 60px;
  left: 42px;
}

div.card_upload_button img {
  width: 30px;
  height: 30px;
}

.card_upload_image {
  width: 100%;
  height: 10em;
  margin: 0px auto;
  border: 1px #ccc;
}

img.card_upload_image_pending {
  border: 2px dotted green;
}

p.upload_document_description {
  font-size: 1em;
  line-height: 1.1em;
  color: lightgray;
}

div.draw_cost_submission_card, div.draw_cost_request_card {
  width: 8em;
}
