.home-section {
  margin: 1em auto;
}

div.project-card {
  margin: 1em auto;
}

div.project-card div.card-action-buttons {
  font-size: 1.5em;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 40px;
}
