div.field_with_errors {
  label {
    color: red;
  }
  input {
    border-color: red;
  }
}

a.action-link {
  img {
    width: 0.8em;
    height: 0.8em;
  }
}
a.action-link:hover {
  img {
    width: 1em;
    height: 1em;
  }
}

nav.breadcrumbs {
  font-size: 1.2em;
  padding: 0.25em;

  ol {
    margin: 0;
  }

  li.active a {
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
}
