<div class="card draw_cost_request_card text-center p-1 m-1 d-inline-flex " >
  <img class="card_upload_image"></img>
  <div class="card_upload_button">
    <%= image_tag upload_image %>
    <%= file_field_tag :document %>
  </div>
  <div class="card-body">
    <p class="upload_document_description">
      Upload <%= documenttype.to_s.capitalize %>
      Document
    </p>
  </div>
</div>
