<div class="card draw_cost_request_card text-center p-1 m-1 d-inline-flex " >
  <div class="card_upload_image card_upload_image_pending">
  </div>
  <div class="card-body">
    <p class="upload_document_description">
      Upload <%= documenttype.to_s.capitalize %>
      Document
    </p>
  </div>
</div>
