<footer class="my-3 my-4 border-top">
  <ul class="nav justify-content-center pb-3 mb-3">
    <li class="nav-item">
      <%= link_to('Home', '/', class: 'nav-link text-muted', data: { turbo_frame: '_top' }) %>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to('My Account', edit_user_path(@current_user), class: 'nav-link text-muted', data: { turbo_frame: '_top' }) %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to('About', about_path, class: 'nav-link text-muted', data: { turbo_frame: '_top' }) %>
    </li>
  </ul> 
  <p class="text-center text-muted">
    Drafter
    <em>&copy;<%= copyright_years %> Bluestone Properties</em>
  </p>
</footer>
