<div id="notifications-section" class="card">
  <div class="card-header">
    <h5>
      Notifications
      <span class="badge bg-secondary">0</span>
    </h5>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge rounded-pill bg-info">7/12/22</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
    </ul>
  </div>
</div>
