<div id="notifications-section" class="card">
  <div class="card-header">
    <h5>
      Notifications
      <span class="badge bg-secondary">4</span>
    </h5>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge rounded-pill bg-info">7/12/22</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li class="list-group-item">
        <span class="badge rounded-pill bg-success">7/6/22</span>
        Praesent fringilla blandit lorem nec sagittis.
      </li>
      <li class="list-group-item">
        <span class="badge rounded-pill bg-danger">7/5/22</span>
        Donec vitae lacinia leo, vel condimentum lacus.
      </li>
      <li class="list-group-item">
        <span class="badge rounded-pill bg-primary">7/5/22</span>
        Phasellus placerat egestas semper.
      </li>
    </ul>
  </div>
</div>
