<div class="card project-card">
  <div class="card-body">
    <h3 class="card-title">
      <%= link_to(project.name, project_path(project)) %>
    </h3>
    <div class="card-action-buttons">
      <%= link_to(image_tag(destroy_image), project_path(project),
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                  class: 'action-link') if policy(project).destroy? %>
    </div>
    <p class="card-text">
      <%= project.description %>
    </p>
  </div>
</div>
