<div class="row" style="margin-top: 1em">
  <div class="col">
    <h2>
      Projects
      <small>
        <%= link_to(new_project_path, class: 'action-link') do %>
          <%= image_tag(add_image) %>
        <% end %>
      </small>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <%#= render projects %>
    <%= render partial: 'project', collection: projects %>
  </div>
</div>
