<div class="card project-card">
  <div class="card-body">
    <h3 class="card-title">
      <%= link_to(project.name, project_path(project)) %>
    </h3>
    <p class="card-text">
      <%= project.description %>
    </p>
  </div>
</div>
