<div class="row" style="margin-top: 1em">
  <div class="col">
    <h2>
      Projects
      <% if policy(Project).new?  %>
      <small>
        <%= link_to('Start New Project', new_project_path, class: 'btn btn-primary')%>
      </small>
      <% end %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render partial: 'project', collection: projects %>
  </div>
</div>
