<div class="card project-card">
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to(project.name, project_path(project)) %>
    </h5>
    <div class="edit-button">
      <%= link_to(edit_project_path(project), class: 'action-link') do %>
        <%= image_tag('icons/pencil-square.svg') %>
      <% end %>
    </div>
    <p class="card-text">
      <%= project.description %>
    </p>
  </div>
</div>
