<p class="p-2 border border-dark" style="background: #ddd;">
  <b>Invoices Total:</b>
  <span class="badge bg-<%= draw_cost_invoice_remaining_class(draw_cost) %>">
    <%= number_to_currency draw_cost.invoice_total %>
  </span><br/>
  <b class="tab">Variance:</b>
  <span class="badge bg-<%= draw_cost_invoice_remaining_class(draw_cost) %>">
    <%= number_to_currency draw_cost.balance_without_change_orders %>
  </span>
</p>
