<p class="p-2 border border-dark" style="background: #ddd;">
  <b>Est. Draw Cost:</b>
  <span class="badge bg-success">
    <%= number_to_currency draw_cost.total %>
  </span>
  <br/>
  <b>Contract Remaining:</b>
  <span class="badge bg-<%= draw_cost.project_cost.over_budget? ? 'danger' : 'success' %>">
    <%= number_to_currency draw_cost.project_cost.budget_balance %>
  </span>
</p>
