<div class="row">
  <div class="col">
    <h1>Add New Cost for Draw '<%= @service.draw.name %>'</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag @service.draw_cost do %>
      <%= render 'form', draw_cost: @service.draw_cost %>
    <% end %>
  </div>
</div>
