<div class="row">
  <div class="col">
    <h1>Add Draw Cost to <%= @draw.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag @draw_cost do %>
      <%= render 'form', draw_cost: @draw_cost %>
    <% end %>
  </div>
</div>
