<% if policy(draw).approve_internal_but_blocked? %><p>Owner/Manager required to internally approve.</p><% end %>

<% if issues = draw_action_issues(draw) %>
  <div class="m-2 p-2 bg-warning bg-gradient shadow-sm text-left">
    <h5>The following must be resolved before the Draw can be <%= issues[:action] %>:</h5>
    <% issues[:issues].each do |issue| %>
    <p class="ps-4 mb-1">
      <%= issue %>
    </p>
    <% end %>
  </div>
<% end %>
