<div class="row">
  <div class="col">
    <h1>Add Document for '<%= @draw.name %>'</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag 'new_document', @draw do %>
      <%= render 'form', draw_document: @draw_document %>
    <% end %>
  </div>
</div>
