<div class="card project-card">
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to('Draw 1', '#') %>
    </h5>
    <div class="edit-button">
      <%= link_to('#', class: 'action-link') do %>
        <%= image_tag('icons/pencil-square.svg') %>
      <% end %>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g2">
      <div class="col col-md-8">
        <div class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere nisi eget tempor viverra.
        </div>
      </div>
      <div class="col col-md-4">
        <b>$12,345,678</b>
        <small>
          <span class="badge round-pill bg-success">&darr; $1,000.00</span>
        </small>
      </div>
    </div>
  </div>
</div>
