<div class="row" style="margin-top: 1em">
  <div class="col">
    <h2>
      Draws
      <small>
        <%= link_to('#', class: 'action-link') do %>
          <%= image_tag('icons/plus-square.svg') %>
        <% end %>
      </small>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render partial: 'draw', collection: [:test, :test2] %>
  </div>
</div>
