<div class="row">
  <div class="col">
    <h2>
      Draws
      <small>
        <%= link_to(image_tag(add_image),
                    new_project_draw_path(project_id: project.id),
                    class: 'action-link',
                    data: { 'turbo_frame': dom_id(Draw.new(project: project))} ) %>
      </small>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag dom_id(Draw.new(project: project))%>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag 'project_draws' do %>
      <%= render project.draws %>
    <% end %>
  </div>
</div>
