<div id="project-members--user-selector" class="card collapse">
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <div class="form-floating mb-3 g-2">
          <%= select_tag('user_id', options_from_collection_for_select(service.available_members, 'id', 'name'),{ class: "form-select"} ) %>
          <label for="user_id" class="form-label">User</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3 g-2">
          <%= select_tag('project_role', options_from_collection_for_select(service.available_roles, 'id', 'name'),{ class: "form-select"} ) %>
          <label for="user_id" class="form-label">Role</label>
        </div>
      </div>
    </div>
    <button id="project-members--user-selector--submit" class="btn btn-sm btn-success">Add Member</button>
    <button type="button" class="btn btn-sn btn-light" data-bs-toggle='collapse' data-bs-target='#project-members--user-selector' aria-expanded='false' aria-controls='project-members--user-selector'>Cancel</button>
  </div>
</div>
