<li class="list-group-item">
  <span class="badge rounded-pill bg-<%= event_severity_color_class(system_event) %>">
    <em><%= full_datetime(system_event.created_at) %></em>
  </span>
  <%= system_event.description %>
  &mdash;
  <% if system_event.event_source.present? %>
    <span class="text-nowrap">
      <% url = ( url_for(system_event.event_source) rescue '#' ) %>
      <%= link_to(system_event.event_source.name, url, { data: {'turbo_frame': '_top' } }) %>
    </span>
  <% end %>
</li>
