<p>Welcome <%= @email %>!</p>

This is a message from Drafter.

<p>You can confirm your Drafter account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
