<div class="row">
  <div class="col">
    <h1>Modify Project Member</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag @project_user do %>
      <%= render 'form', project_user: @project_user %>
    <% end %>
  </div>
</div>
